:root {
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
    min-height: 100vh;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.75fr;
}

.flower-image {
    background-image: url(images/flowers.svg);
}

.interactive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
}