:root {
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
    min-height: 100vh;
    --form-left: 50px;
    --form-right: 20px;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.75fr;
}

.flower-image {
    background-image: url(images/flowers.svg);
}

.interactive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.call-to-action-text {
    font-size: 2rem;
    font-weight: 900;
    margin-left: var(--form-left);
}

.italic {
    font-style: italic;
}

.signup-form {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 3px 10px gray;
}

.form-title {
    font-size: 2rem;
    font-weight: 900;
    margin-left: var(--form-left);
    margin-right: var(--form-right);
    padding-bottom: 20px;
}

.form {
    margin-left: var(--form-left);
    margin-right: var(--form-right);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form>label {
    color: gray;
    margin-bottom: 5px;
}

.form>input {
    margin-bottom: 30px;
    border: solid 1px gray;
    border-radius: 4px;
    padding: 5px;
    margin-right: 200px;
    font-size: 1.3rem;
}